root = true

[{SharpProof.Analyzer,SharpProof.Attributes,SharpProof.ProofCore,SharpProof.Symbolic,Tools}/**/*.cs]
csharp_new_line_before_open_brace = none
dotnet_diagnostic.IDE0055.severity = warning
csharp_prefer_braces = false:warning
csharp_style_expression_bodied_accessors = true:warning
csharp_style_expression_bodied_constructors = true:warning
csharp_style_expression_bodied_indexers = true:warning
csharp_style_expression_bodied_lambdas = true:warning
csharp_style_expression_bodied_local_functions = true:warning
csharp_style_expression_bodied_methods = true:warning
csharp_style_expression_bodied_operators = true:warning
csharp_style_expression_bodied_properties = true:warning
csharp_style_namespace_declarations = file_scoped:warning
csharp_style_prefer_primary_constructors = true:warning
csharp_style_prefer_simple_using_statement = true:warning
csharp_style_prefer_switch_expression = true:warning
dotnet_style_collection_initializer = true:warning
dotnet_style_object_initializer = true:warning

[{SharpProof.Test,SharpProof.Testing,SharpProof.ToolingTest}/*.cs]
csharp_new_line_before_open_brace = none
dotnet_diagnostic.IDE0055.severity = none

[{SharpProof.Test,SharpProof.Testing,SharpProof.ToolingTest}/**/*.cs]
csharp_new_line_before_open_brace = none
dotnet_diagnostic.IDE0055.severity = none
