<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="Code Coverage">
        <Configuration>
          <Format>Cobertura</Format>
          <IncludeTestAssembly>False</IncludeTestAssembly>
          <CodeCoverage>
            <ModulePaths>
              <Exclude>
                <ModulePath>.*SharpProof\.Attributes\.dll$</ModulePath>
              </Exclude>
            </ModulePaths>
            <UseVerifiableInstrumentation>True</UseVerifiableInstrumentation>
            <AllowLowIntegrityProcesses>False</AllowLowIntegrityProcesses>
            <CollectFromChildProcesses>False</CollectFromChildProcesses>
            <CollectAspDotNet>False</CollectAspDotNet>
            <EnableStaticManagedInstrumentation>True</EnableStaticManagedInstrumentation>
            <EnableDynamicManagedInstrumentation>False</EnableDynamicManagedInstrumentation>
            <EnableStaticNativeInstrumentation>False</EnableStaticNativeInstrumentation>
            <EnableDynamicNativeInstrumentation>False</EnableDynamicNativeInstrumentation>
          </CodeCoverage>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
